
body {
    font-family: 'Manrope', sans-serif;
    background-color: #f5f5f5;
}

.metrika-body {
    width: 1150px;
    height: 650px;
    
    margin: 0 auto;
    box-sizing: border-box;
    
}

.metrika-body h1 {
    
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 30px;
    color: #121212;

}

.metrika-body-text {
    width: 1150px;
    height: 500px;
    background-image: url('../resources/Rectangle\ 1.png');
    
}

.metrika-body-text p {
    width: 430px;
    height: 81px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding-top: 379px;
    padding-left: 40px;

}

.block2 {
    width: 1150px;
    height: 518px;
    margin: 0 auto;
    box-sizing: border-box;
}
.block2 h2 {
    font-size: 18px;
    font-weight: 400;
    color: #121212;
    margin-bottom: 30px;
    margin-top: 150px;
    

}

.block2 p {
    width: 1051px;
    font-size: 45px;
    font-weight: 400;
    color: #121212;
    margin-bottom: 30px;

}
.btn {

    display: block;
    width: 255px;
    height: 67px;
    border: 1px solid #ad1818;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    background-color: #ad1818;
    color: #fff;
    border-radius: 5px;
    line-height: 60px;
    
}

.btn:hover {
    color: red;
    background-color: #fff;
}
